<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="veiwport" content="width=device-width , initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Заголовок страницы</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body style="background: silver">
	{% block content %}


	{% endblock %}
	<div class="container-fluid" style="background:red">
		<h1>hi world</h1>
	</div>
</body>
</html>
