#matrix1
{
	float: left;
	width: 400px;
	height: 400px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;	
}

#matrix1 .cell
{
	float: left;
	width: 19px;
	height: 19px;	
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;	
}

#matrix1 .on
{
	background-color: red;

}
#score1
{	
	float: center;
	margin-top: 400px;
	margin-left: 250px;
	position: absolute;
	background-color: grey;
	width: 250px;
	height: 65px;
	font-family: Arial;
	font-size: 20px;
	text-align: center;
}